<div class="page-title"><h1><%=@watchlist.user.username.capitalize%> <em>>></em> <%=@watchlist.name%> Watchlist</h1>

<% if @watchlist.user == current_user %>
  <div class="profile-edit">
  <h3>Modify Watchlist</h3>
  <div><a href="/watchlists/<%=@watchlist.id%>/edit">Edit Watchlist</a></div>
  <div><a href="/watchlists/<%=@watchlist.id%>/delete">Delete Watchlist</a></div>
  </div>
<% end %>
</div>

<div class="watchlist-info">
<div><strong>Overall Change:</strong> <%=@watchlist.watchlist_avg_change%>% </div>
<div><strong>Companies in Watchlist:</strong> <%=@watchlist.stocks.length%></div>
</div>

<div class="stock-list">
<% @watchlist.stocks.each do |stock| %>
<div class="stock-list-card">
  <% stock_info = Stock.get_stock_info(stock.ticker)%>
  <div class="stock-list-card-element title"><strong><%=stock.ticker%></strong> - <em><%=stock.company_name%></em></div>
  <div class="stock-list-card-element">Current Price: $<%= stock_info["latestPrice"].round(2)%></div>
  <div class="stock-list-card-element">Today's Change: <%if stock_info["percentChange"] == nil%>
  <%=stock.percent_change%>%
  <% else %>
  <%=(stock_info["changePercent"] * 100).round(2)%>
  <%end%>
  </div>
  <div class="stock-list-card-element">Past Year Change: <%=(stock_info["ytdChange"] * 100).round(2) unless stock_info["ytdChange"] == nil%>%</div>
  <div class="stock-list-card-element">Previous Day Close Price: $<%=stock_info["previousClose"].round(2) unless stock_info["previousClose"] == nil%></div>
  <div class="stock-list-card-element">Past Year Highest Price: $<%=stock_info["week52High"].round(2) unless stock_info["week52High"] == nil%></div>
  <div class="stock-list-card-element">Past Year Lowest Price: $<%=stock_info["week52Low"].round(2) unless stock_info["week52Low"] == nil%></div>
</div>
<% end %>
</div>